#conteneur1{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#conteneur1 > *{
    border: 1px solid black;
    flex: 0 0 198px;
    text-align: center;
    padding: 10px 0px;
}

#conteneur1 > *:nth-child(even){
    background-color: rgb(127 255 213);
}

#conteneur1 > *:nth-child(odd){
    background-color: rgb(255 192 204);
}





#conteneur2{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

#conteneur2 > *{
    border: 1px solid black;
    text-align: center;
    padding: 10px 0px;
}

#conteneur2 > *:nth-child(even){
    background-color: rgb(127 255 213);
}

#conteneur2 > *:nth-child(odd){
    background-color: rgb(255 192 204);
}





#conteneur3{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 2fr 1fr 1fr;
}

#conteneur3 > *{
    border: 1px solid black;
    text-align: center;
    padding: 10px 0px;
    margin: 1px;
}



#conteneur3 > *:nth-child(even){
    background-color: rgb(127 255 213);
}

#conteneur3 > *:nth-child(odd){
    background-color: rgb(255 192 204);
}